name: Build
on: [push, pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Lint
        run: |
          sudo apt-get install python3-pip
          pip3 install flake8
          flake8 --ignore=W503 --max-line-length=100

  conda-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v2
        with:
          miniforge-version: latest
      - name: Build
        shell: bash -l {0}
        run: |
          conda install -y tensorflow scikit-learn pytest networkx matplotlib sphinx numpydoc pytest-cov codecov
          python setup.py install
          make html -C doc
          mv tensap tensap_code && pytest --cov-report=xml --cov=tensap --capture=no test && codecov && mv tensap_code tensap
      - name: Upload
        if: ${{ github.ref == 'refs/heads/master' }}
        run: |
          exit 0
          git clone --depth 1 https://${{ secrets.GH_TOKEN }}@github.com/anthony-nouy/anthony-nouy.github.io.git /tmp/io
          mkdir -p /tmp/io/sphinx/tensap/master
          cp -r doc/_build/html/* /tmp/io/sphinx/tensap/master
          cd /tmp/io
          touch .nojekyll
          git config user.email "support@gh.com"
          git config user.name "GitHub Actions"
          git add -A .
          if test `git diff HEAD | wc -c` -eq 0; then exit 0; fi
          git commit -a -m "GitHub Actions build ${GITHUB_REPOSITORY} ${GITHUB_RUN_ID}"
          git push --quiet origin master > /dev/null 2>&1

  conda-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v2
        with:
          miniforge-version: latest
      - name: Build
        run: |
          conda install -y scikit-learn pytest networkx matplotlib pip
          pip install tensorflow
          python setup.py install
          pytest -s
